{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <h1>Welcome, {{ user.email }}!</h1>
                <p>We're glad you're here. Here's a quick overview of your upcoming trips:</p>
                <div class="row">
                    {% for trip in trips %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body" style="height: 300px; display: flex; flex-direction: column; justify-content: space-between;">
                                    <h2>{{ trip.trip_name }}</h2>
                                    <p>Destination: {{ trip.destination }}</p>
                                    <p>Start Date: {{ trip.start_date }}</p>
                                    <p>End Date: {{ trip.end_date }}</p>

                                    <div class="user-share mt-auto">
                                   <a href="{% url 'mojo:trip' trip_id=trip.uuid %}" class="btn btn-primary mr-4">View Details</a>
                                   <i class="fas fa-share-square align-self-end" data-toggle="modal" data-target="#shareModal"></i>
                                   <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="shareModalLabel">Share with a friend</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <form class="input-group" method="post" action="{% url 'mojo:share_trip' trip_id=trip.uuid %}">
                                           {% csrf_token %}
                                            <div class="form-group">
                                              <label for="email">Email address:</label>
                                              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Share</button>
                                              </div>
                                          </form>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>No upcoming trips planned. Why not create a new one?</p>
                    {% endfor %}
<!-- Button to create a trip -->

                </div>
                <a href="{% url 'mojo:create_trip' %}" class="btn btn-primary">Create a Trip</a>
            </div>
        </div>
    </div>
{% endblock %}