{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <h1>Trip Details</h1>
                <p>Trip Name: {{ trip.trip_name }}</p>
                <p>Destination: {{ trip.destination }}</p>
                <p>Start Date: {{ trip.start_date }}</p>
                <p>End Date: {{ trip.end_date }}</p>
                <h2>Activities</h2>
                <ul>
                    {% for activity in activities %}
                        <li>{{ activity.activity_name }}</li>
                    {% empty %}
                        <p>No activities added yet.</p>
                    {% endfor %}
                </ul>
                <form method="post" action="{% url 'mojo:add_activity' trip_id=trip.uuid %}">
                  {% csrf_token %}
                  <input type="text" name="activity_name" placeholder="Add activity">
                  <button type="submit" class="btn btn-primary">Add Activity</button>
              </form>
              <form method ="post" action="{% url 'mojo:generate_itinerary'
              trip_id=trip.uuid %}">
                {% csrf_token %}
                <button id="generate-itinerary-btn">Generate Itinerary</button>
              </form>
              <h2>Itinerary</h2>
              <p id="itinerary"></p>
              <div class="row">
                      {% for activity_suggestion in model_suggestions %}
<div class="col-md-4 mb-3">
                      <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ activity_suggestion.activity_name }}</h5>
    <p class="card-text">{{ activity_suggestion.activity_description }}</p>
    <p class="card-text">Location: <a href="{{ activity_suggestion.place_url }}">{{ activity_suggestion.place }}</a></p>
    <div>
      <i class="far fa-thumbs-up"></i>
      <i class="far fa-thumbs-down"></i>
  </div>
</div>
</div>
</div>
{% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}