html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.row {
  display: flex; /* make the row a flex container */
}

.col-md-4 {
  display: flex; /* make the column a flex container */
  flex-direction: column; /* make the column content vertical */
}

.card {
  flex: 1; /* make the cards equal height */
  display: flex; /* make the card a flex container */
  flex-direction: column; /* make the card content vertical */
}

.card-body {
  flex: 1; /* make the card body take up the rest of the space */
}

.user-feedback {
  align-self: end;
  margin-top: 1rem;
}
.autocomplete-container {
  /*the container must be positioned relative:*/
  position: relative;

  margin-bottom: 10px;
}

.autocomplete-container input {
  width: calc(100%);
  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-right: 31px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: calc(100% + 2px);
  left: 0;
  right: 0;

  background-color: #fff;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  position: absolute;
  right: 1px;
  top: 15px;

  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}


.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}